.newsh1 {
    font-size: 2rem;
    font-weight: 700;
    color: hsl(120, 100%, 22%);
    margin-bottom: 1.5rem;
    text-align: center;
    margin-top: 2rem;
}

.news {
    margin: 7rem auto;
    width: 85%;

    display: flex;
    flex-direction: column;
}
.news-head {
    height: 500px;
    width: 100%;
    background-image: url(assets/test.png);
    background-position: center;
    background-size: cover;
    border-radius: 4px;
    margin-bottom: 3rem;
}

.newsContent p, .newsContent li {
    line-height: 1.9rem;
    font-weight: 480;
}
.newsContent #p {
    margin-bottom: 1.5rem;
}
.newsContent li {
    margin-left: 2rem;
}

.nslideContainer {
    width: 900px;
    margin: auto;
    overflow: hidden;
    position: relative;
    margin: 4rem auto;
}
.nslide {
    display: flex;
    width: 100%;
    height: 450px;
}
.nslide img {
    object-fit: cover;
    object-position: center;
    -o-object-fit: cover;
    -o-object-position: center;
}
#prev {
    cursor: pointer;
    background-image: url(assets/left.png);
    background-position: center;
    background-size: cover;
    position: absolute;
    height: 50px;
    width: 50px;
    z-index: 1;
    top: 50%;
    left:5%;
    cursor: pointer;
}
#next {
    cursor: pointer;
    background-image: url(assets/right.png);
    background-position: center;
    background-size: cover;
    position: absolute;
    height: 50px;
    width: 50px;
    z-index: 1;
    top: 50%;
    right:5%;
    cursor: pointer;
}
p {
    text-align: justify;
}
@media (max-width:780px) {
    .newsh1 {
        font-size: 1.2em;
    }
    .newsContent p, li {
        font-size: 0.8em;
    }
    .news-head {
        height: 300px;
    }
    .nslideContainer {
        width: 100%;
    }
    .nslide {
        height: 250px;
    }
    #next, #prev {
        width: 25px;
        height: 25px;
    }
}
@media (max-width:780px) {
    .nslide {
        height: 200px;
    }
}